@charset "UTF-8";

.section {
  margin-top: 200px;
}

.news {
  width: 70%;
  margin: 0 auto 100px;
  padding: 50px 0;
  text-align: center;
}

.news h3 {
  display: inline-block;
  font-size:  40px;
  font-weight: bold;
  line-height: 1;
  margin-right: 80px;
  vertical-align: top;
}

.news h3 small {
  font-size: 20px;
}

.news_list {
  display: inline-block;
}
.news .news_list li {
  font-size: 18px;
  line-height: 2;
  color: #333;
  text-align: left;
  border-top: 1px solid silver;
  padding: 8px 16px;
}

.news_list:last-child {
  border-bottom: 1px solid silver;
}
.news_date span {
  background-color: black;
  color: white;
  padding: 5px 16px;
}
.news_date {
  display: inline-block;
  margin-right: 20px;
}
.news_list li>p {
  display: inline-block;
  vertical-align: top;
}
.feature {
  width: 80%;
  margin: 0px auto;
}

.feature_bg img {
  display: inline-block;
  width: 50%;
  float: left;
}

.feature_text {
  display: inline-block;
  width: 50%;
}

.feature_text h4 {
  padding: 15% 0 0 15%;
  font-size: 50px;
  color: rgb(189, 120, 230);
}

.feature_text small {
  padding-left: 15%;
  font-size: 20px;
  font-weight: bold;
}

.feature_text p {
  padding: 10%;
}

.service {
  display: inline-block;
  position: relative;
  width: 100%;
}

.service h3 {
  text-align: center;
  font-size: 50px;
  color: rgb(189, 120, 230);
  line-height: 1;
}

.service small {
  font-size: 20px;
  color: #555;
}

.service_bg {
  background-image: url("../img/service_bg.png");
  background-size: cover;
  height: 900px;
  margin-top: 5%;
  text-align: center;
}

.service_item {
  width: 25%;
  display: inline-block;
  height: 600px;
  margin-top: 100px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 50px 30px;
}

.service_item img {
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

.service_item h4 {
  font-size: 30px;
  padding-top: 20px;
}

.service_item small{
  font-size: 13px;
  color: rgb(189, 120, 230);
  font-weight: bold;
}

.service_item p {
  padding: 10px;
  line-height: 2;
}

.left {
  margin-right: 30px;
}

.right {
  margin-left: 30px;
}

.service .btn a {
  background: rgb(189, 120, 230);
  padding: 20px 60px;
  position: relative;
  top: 50px;
  left: calc(50% - 102px);
  color: #fff;
  font-size: 20px;
  border-radius: 4px;
}

.service .btn:hover {
  opacity: 0.8;
}

.recruit {
  display: inline-block;
  position: relative;
  width: 100%;
  margin-top: 400px;
}

.recruit_inner {
  width: 40%;
  position: relative;
  left: 100px;
  top: 280px;
  z-index: 1;
}

.recruit h3 {
  font-size: 50px;
  color: rgb(189, 120, 230);
}

.recruit h3 small {
  font-size: 20px;
  color: #555;
  font-weight: bold;
}

.recruit h4 {
  font-size: 25px;
  padding-top: 40px;
  color: #222;
}

.recruit p {
  line-height: 2.5;
}

.recruit .btn a {
  text-align: center;
  background: rgb(189, 120, 230);
  padding: 20px 60px;
  position: relative;
  top: 90px;
  color: #fff;
  font-size: 20px;
  border-radius: 4px;
}

.recruit img {
  position: relative;
  float: right;
  width: 50%;
  height: auto;
  z-index: 1;
  bottom: 500px;
}

.recruit_bg {
  width: 80%;
  height: 700px;
  background-color: #eee;
  position: absolute;
  top: 150px;
  z-index: 0;
}